/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #f5b335;
    color: #000;
}

/* Encabezado */
header {
    padding: 60px;
}

header:hover h1{
    color: red;
}

h1, .cursive-text {
    font-family: 'Berkshire Swash', cursive;
    font-size: 60px;
    margin-bottom: -20px;
}

/* Sección principal */
section {
    padding: 0 60px 60px 60px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
    width: 40%;
}

/* Botón */
a {
    display: inline-block;
    background-color: #ff6b35;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    background-color: gray;
}

/* Imágenes */

img {
    width: 250px;
    height: 400px;     
    object-fit: cover; 
    margin-left: 20px;
}

p.title::first-line{
    font-size: xx-large;
}




